ul#primary-nav, ul#primary-nav ul {
margin: 0;
padding: 0;
width: 100%; /* Width of Menu Items */
border-bottom: 0px solid #228B22;
border-top: 0px solid #ccc;
background: #fff; /* IE6 Bug */
font-size: 100%;
border-left: 0px solid #ccc;
border-right: 0px solid #ccc;
/*list-style-type: none;*/
}

ul#primary-nav li {
position: relative;
/*list-style: none;*/
}

ul#primary-nav li a {
display: block;
text-decoration: none;
font-family: Helvetica, sans-serif;
color: #006400;
padding: 5px;
/*border: 1px solid #228B22;*/
background: #F0FFF0;
border-bottom: 0;
}
ul#primary-nav li a:hover {
background-color: #F8F8FF;/*#C1FFC1; /* cor do fundo EEE9E9*/
color: #006400;/*#DAA520;  cor da fonte */
display:block; (*)
}
ul#primary-nav li a:link, ul#primary-nav li a:visited {
display:block;
height:10%;
font-size:11px;
}
/* Fix IE. Hide from IE Mac \*/
* html ul#primary-nav li { float: left; height: 1%; }
* html ul#primary-nav li a { height: 1%; }
/* End */

ul#primary-nav ul {
position: absolute;
display: none;
left: 100%; /* Set 1px less than menu width */
width: 150px;
top: 0;
}

ul#primary-nav li ul li a {
padding: 2px 5px;
display: block;
text-decoration: none;
} /* Sub Menu Styles */

ul#primary-nav li:hover ul ul,
ul#primary-nav li:hover ul ul ul,
ul#primary-nav li.over ul ul,
ul#primary-nav li.over ul ul ul {
display: none;
} /* Hide sub-menus initially */

ul#primary-nav li:hover ul, ul#primary-nav li li:hover ul,
ul#primary-nav li li li:hover ul, ul#primary-nav li.over ul,
ul#primary-nav li li.over ul, ul#primary-nav li li li.over ul {
display: block;
} /* The magic */

ul#primary-nav li.menuparent {
background: transparent url(arrow.gif) right center no-repeat;
}

ul#primary-nav li.menuparent:hover,
ul#primary-nav li.ove???d?r {
background-color: #F8F8FF;
}

ul#primary-nav li a:hover {
color: #006400;
}


