.mlddm {	
	margin: 0;
	padding: 0;
}

.mlddm li {	
	display: inline;
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}

.mlddm li a {
	display: block;
	margin: 0 1px 0 0;
	padding: 6px 10px;
	width: auto;
	font: bold 14px arial, sans-serif;
	text-align: center;
	text-decoration: none;
      /*text-transform: uppercase;*/
	white-space: nowrap;
	color: gray;
        background-color: #e2e1ea;
}

.mlddm li a:hover {
	background: #A4C2C2;
	color: #FFF;
	background-color: #5c9ccc;
}

.mlddm ul {
	z-index: 100;
	position: absolute;
	visibility: hidden;
	margin: 1px 0 0 0;
	padding: 0;
	background: gray;
	background-color: #e2e1ea;
}

.mlddm ul li {
	float: none;
}

.mlddm ul li a {
	display: block;
	width: auto;
	margin: 0;
	padding: 7px 13px;
	font-weight: normal;
        font-size: 14px;
	text-align: left;
	text-transform: none;        
	color: gray;        
	background: transparent;
	-moz-border-radius: 0;
	border-radius: 0;
}

.mlddm ul li a:hover {
	color: #FFF;
}
